<!DOCTYPE html>
<html>
<head>
    <title>Consultas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Consultas</h1>
    <img th:src="@{/images/administrador.png}" width="250">

<div>
    <a th:href="@{/consultas/habitaciones}" class="btn btn-primary d-block mb-2">Ver habitaciones</a>
    <a th:href="@{/consultas/tiposHabitacion}" class="btn btn-primary d-block mb-2">Ver tipos de habitación</a>
    <a th:href="@{/consultas/servicios}" class="btn btn-primary d-block mb-2">Ver servicios</a>
    <a th:href="@{/consultas/alojamientos}" class="btn btn-primary d-block mb-2">Ver reservas</a>
    <a th:href="@{/consultas/llegadas}" class="btn btn-primary d-block mb-2">Ver llegadas y salidas</a>
    <a th:href="@{/consultas/consumos}" class="btn btn-primary d-block mb-2">Ver consumos</a>
    <a th:href="@{/consultas/prestamos}" class="btn btn-primary d-block mb-2">Ver préstamos</a>
    <a th:href="@{/}" class="btn btn-secondary d-block mb-2">Volver al inicio</a>

</div>
    <br/>

</div>
</body>
</html>