<!DOCTYPE html>
<html>
<head>
    <title>Consumos de un usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center">Consumos de un Usuario</h1>
                <form action="/hotel/requerimientos/consumosCliente" method="post">
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de inicio:</label>
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaFin">Fecha de fin:</label>
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                    </div>
                    <div class="form-group">
                        <label for="numDocumento">Número de documento:</label>
                        <input type="number" class="form-control" id="numDocumento" name="numDocumento" required>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Consultar</button>
                        <a th:href="@{/requerimientos}" class="btn btn-secondary">Volver atrás</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>