<!DOCTYPE html>
<html>
<head>
    <title>Gerente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Gerente</h1>
    <img th:src="@{/images/gerente.png}" width="250">

<div>
    <a th:href="@{/gerente/recoleccion}" class="btn btn-primary d-block mb-2">Ver recoleccion por habitacion</a>
    <a th:href="@{/gerente/populares}" class="btn btn-primary d-block mb-2">Ver servicios mas populares</a>
    <a th:href="@{/gerente/ocupacion}" class="btn btn-primary d-block mb-2">Ver ocupacion por habitacion</a>
    <a th:href="@{/gerente/serviciosCaracteristicas}" class="btn btn-primary d-block mb-2">Ver servicios por caracteristicas</a>

    <a th:href="@{/gerente/consumosUsuario}" class="btn btn-primary d-block mb-2">Ver consumos de un usuario por fechas</a>
    <a th:href="@{/gerente/operacion}" class="btn btn-primary d-block mb-2">Analizar operacion</a>
    <a th:href="@{/gerente/buenos}" class="btn btn-primary d-block mb-2">Ver buenos clientes</a>
    <a th:href="@{/gerente/bajaDemanda}" class="btn btn-primary d-block mb-2">Ver servicios con baja demanda</a>


    <a th:href="@{/gerente/consumosV1}" class="btn btn-primary d-block mb-2">Ver consumos del hotel</a>
    <a th:href="@{/gerente/consumosV2}" class="btn btn-primary d-block mb-2">Ver consumos del hotel v2</a>
    <a th:href="@{/gerente/funcionamiento}" class="btn btn-primary d-block mb-2">Ver funcionamiento</a>
    <a th:href="@{/gerente/excelentes}" class="btn btn-primary d-block mb-2">Ver clientes excelentes</a>
    <a th:href="@{/}" class="btn btn-secondary d-block mb-2">Cambiar usuario</a>
</div>
    <br/>
</div>
</body>
</html>
