<!DOCTYPE html>
<html>

<head>
    <title>Recolección de dinero por habitacion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="text-center">
    <h1>Recolección de dinero por habitacion</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Ocupada</th>
                    <th>Recoleccion</th>
                </tr>
            </thead>
            <th:block th:each="habitacion : ${Recoleccion}">
                <tr>
                    <td th:text="${habitacion.habitacion.id}"></td>
                    <td th:text="${habitacion.habitacion.tipo}"></td>
                    <td th:text="${habitacion.habitacion.ocupada? 'Sí' : 'No'}"></td>
                    <td th:text="${habitacion.recoleccion}"></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/requerimientos}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>