<!DOCTYPE html>
<html>
<head>
    <title>Requisitos funcionales</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Requerimientos</h1>
    <img th:src="@{/images/administrador.png}" width="250">

<div>
    <a th:href="@{/requerimientos/recoleccion}" class="btn btn-primary d-block mb-2">Ver recolección</a>
    <a th:href="@{/requerimientos/ocupacion}" class="btn btn-primary d-block mb-2">Ver ocupación</a>
    <a th:href="@{/requerimientos/consumosCliente}" class="btn btn-primary d-block mb-2">Ver consumo por cliente</a>
    <a th:href="@{/requerimientos/consumosServicio}" class="btn btn-primary d-block mb-2">Ver consumos del hotel</a>
    <a th:href="@{/}" class="btn btn-secondary d-block mb-2">Volver al inicio</a>

</div>
    <br/>

</div>
</body>
</html>