<!DOCTYPE html>
<html>
<head>
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Servicios</h1>
    <img th:src="@{/images/servicio.png}" width="250">


    <a th:href="@{/consultas/servicios/piscinas}" class="btn btn-primary d-block mb-2">Ver piscinas</a>
    <a th:href="@{/consultas/servicios/gimnasios}" class="btn btn-primary d-block mb-2">Ver gimnasios</a>
    <a th:href="@{/consultas/servicios/internets}" class="btn btn-primary d-block mb-2">Ver internets</a>
    <a th:href="@{/consultas/servicios/bares}" class="btn btn-primary d-block mb-2">Ver bares</a>
    <a th:href="@{/consultas/servicios/establecimientosComercio}" class="btn btn-primary d-block mb-2">Ver establecimientos de comercio</a>
    <a th:href="@{/consultas/servicios/restaurantes}" class="btn btn-primary d-block mb-2">Ver restaurantes</a>
    <a th:href="@{/consultas/servicios/spas}" class="btn btn-primary d-block mb-2">Ver spas</a>
    <a th:href="@{/consultas/servicios/serviciosLavanderia}" class="btn btn-primary d-block mb-2">Ver servicios de lavandería</a>
    <a th:href="@{/consultas/servicios/salonesReunion}" class="btn btn-primary d-block mb-2">Ver salones de reunión</a>
    <a th:href="@{/consultas/servicios/salonesConferencia}" class="btn btn-primary d-block mb-2">Ver salones de conferencia</a>
    <a th:href="@{/consultas}" class="btn btn-secondary d-block mb-2">Ver opciones</a>
    <br/>

</div>
</body>
</html>
