<!DOCTYPE html>
<html>
<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
</br>
    <div th:fragment="internetForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    <form>

        <label  class="col-form-label">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required th:value="${Internet.nombre}" />

        <label  class="col-form-label">Capacidad:</label>
        <input class="form-control" type="number" id="capacidad" name="capacidad" required th:value="${Internet.capacidad}" />

        <label  class="col-form-label">Costo Día:</label>
        <input class="form-control" type="number" step="any" id="costo" name="costoDia" required th:value="${Internet.costoDia}" />

        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/consultas/servicios/internets}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</br>
</div>

</body>
</html>