<!DOCTYPE html>
<html>
<head>
    <title>Consumos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="text-center">
        <h1>Clientes que No consumieron un servicio</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo documento</th>
                    <th>Numero documento</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Fecha</th>
                    <th>Servicio</th>
                </tr>
            </thead>
            <th:block th:each="usuario : ${Usuarios}">
                <tr>
                    <td th:text="${usuario[0]}"></td>
                    <td th:text="${usuario[1]}"></td>
                    <td th:text="${usuario[2]}"></td>
                    <td th:text="${usuario[3]}"></td>
                    <td th:text="${usuario[4]}"></td>
                    <td th:text="${usuario[6]}"></td>
                    <td th:text="${servicio}"></td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href='@{/gerente}' class="btn btn-primary">Volver Atrás</a>
        </div>
    </div>
</body>
</html>
