<!DOCTYPE html>
<html>
<head>
    <title>Editar Establecimiento de comercio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
</br>
<form th:action="@{'/administrador/servicios/establecimientosComercio/' + ${id} + '/edit/save'}" th:object="${establecimientoComercio}" method="post">
    <div th:replace="~{fragments/establecimientoComercioForm :: establecimientoComercioForm(titulo='Editar Establecimiento de Comercio', establecimientoComercio=${establecimientoComercio})}">
    </div>
</form>

</body>
</html>
