<!DOCTYPE html>
<html>

<head>
    <title>Listas de clientes excelentes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="text-center">
    <h1>Lista de usuarios excelentes</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo documento</th>
                    <th>Numero documento</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Semestres estadia</th>
                </tr>
            </thead>
            <th:block th:each="usuario : ${Excelentes1}">
                <tr>
                    <td th:text="${usuario[0]}"></td>
                    <td th:text="${usuario[1]}"></td>
                    <td th:text="${usuario[2]}"></td>
                    <td th:text="${usuario[3]}"></td>
                    <td th:text="${usuario[4]}"></td>
                </tr>
            </th:block>

        </table>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo documento</th>
                    <th>Numero documento</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Tipo Usuario</th>
                </tr>
            </thead>
            <th:block th:each="usuario : ${Excelentes2}">
                <tr>
                    <td th:text="${usuario[0]}"></td>
                    <td th:text="${usuario[1]}"></td>
                    <td th:text="${usuario[2]}"></td>
                    <td th:text="${usuario[3]}"></td>
                    <td th:text="${usuario[4]}"></td>
                </tr>
            </th:block>

        </table>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo documento</th>
                    <th>Numero documento</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Tipo Usuario</th>
                </tr>
            </thead>
            <th:block th:each="usuario : ${Excelentes3}">
                <tr>
                    <td th:text="${usuario[0]}"></td>
                    <td th:text="${usuario[1]}"></td>
                    <td th:text="${usuario[2]}"></td>
                    <td th:text="${usuario[3]}"></td>
                    <td th:text="${usuario[4]}"></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/gerente}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>