<!DOCTYPE html>
<html>

<head>
    <title>Hacer Check In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="text-center">
    <h1>Hacer Check In</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Fecha entrada</th>
                    <th>Fecha salida</th>
                    <th>Noches</th>
                    <th>Numero personas</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Id plan consumo</th>
                    <th>Numero documento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="reserva : ${Reservas}">
                <tr>
                    <td th:text="${reserva.id}"></td>
                    <td th:text="${reserva.fechaEntrada}"></td>
                    <td th:text="${reserva.fechaSalida}"></td>
                    <td th:text="${reserva.noches}"></td>
                    <td th:text="${reserva.numeroPersonas}"></td>
                    <td th:text="${reserva.checkIn}"></td>
                    <td th:text="${reserva.checkOut}"></td>

                    <td th:text="${reserva.planConsumo.id}"></td>
                    <td th:text="${reserva.usuario.numDocumento}"></td>
                    <td><button>Hacer Check In</button></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/recepcionista}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>