<!DOCTYPE html>
<html>
<head>
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Servicios</h1>
    <img th:src="@{/images/servicio.png}" width="250">

<div>
    <a th:href="@{/administrador/servicios/piscinas}" class="btn btn-primary d-block mb-2">Ver piscinas</a>
    <a th:href="@{/administrador/servicios/gimnasios}" class="btn btn-primary d-block mb-2">Ver gimnasios</a>
    <a th:href="@{/administrador/servicios/internets}" class="btn btn-primary d-block mb-2">Ver internets</a>
    <a th:href="@{/administrador/servicios/bares}" class="btn btn-primary d-block mb-2">Ver bares</a>
    <a th:href="@{/administrador/servicios/establecimientosComercio}" class="btn btn-primary d-block mb-2">Ver establecimientos de comercio</a>
    <a th:href="@{/administrador/servicios/restaurantes}" class="btn btn-primary d-block mb-2">Ver restaurantes</a>
    <a th:href="@{/administrador/servicios/spas}" class="btn btn-primary d-block mb-2">Ver spas</a>
    <a th:href="@{/administrador/servicios/serviciosLavanderia}" class="btn btn-primary d-block mb-2">Ver servicios de lavanderias</a>
    <!-- <a th:href="@{/administrador/servicios/prestamos}" class="btn btn-primary d-block mb-2">Ver prestamos</a> -->
    <a th:href="@{/administrador/servicios/salonesReunion}" class="btn btn-primary d-block mb-2">Ver salones de reunion</a>
    <a th:href="@{/administrador/servicios/salonesConferencia}" class="btn btn-primary d-block mb-2">Ver salones de conferencia</a>
    <a th:href="@{/administrador}" class="btn btn-primary d-block mb-2">Volver</a>
</div>
    <br/>

</div>
</body>
</html>
