<!DOCTYPE html>
<html>
<head>
    <title>Cliente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Cliente</h1>
    <img th:src="@{/images/cliente.png}" width="250">

<div>
    <a th:href="@{/reservas/alojamiento}" class="btn btn-primary d-block mb-2">Ver reservas de alojamiento</a>
    <a th:href="@{/reservas/servicio}" class="btn btn-primary d-block mb-2">Ver reservas de servicios</a>
</div>
    <br/>

</div>
</body>
</html>
