<!DOCTYPE html>
<html>
<head>
    <title>Recepcionista</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container mx-auto w-25">

    <h1>Recepcionista</h1>
    <img th:src="@{/images/recepcionista.png}" width="250">

<div>
    
    <a th:href="@{/llegada}" class="btn btn-primary d-block mb-2">Ver llegada de un cliente</a>
    <a th:href="@{/salida}" class="btn btn-primary d-block mb-2">Ver salida de un cliente</a>
</div>
    <br/>

</div>
</body>
</html>
