<!DOCTYPE html>
<html>

<head>
    <title>Lista de Salones de reunion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <div class="text-center">
    <h1>Lista de Salones de reunion</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>capacidad</th>
                    <th>costo hora</th>
                    <th>costo equipos</th>
                </tr>
            </thead>
            <th:block th:each="salonReunion : ${salonesReunion}">
                <tr>
                    <td th:text="${salonReunion.id}"></td>
                    <td th:text="${salonReunion.capacidad}"></td>
                    <td th:text="${salonReunion.costo_hora}"></td>
                    <td th:text="${salonReunion.costo_equipos}"></td>

                    <td>
                        <a th:href="@{salonesReunion/{id}/edit(id=${salonReunion.id})}">Editar</a>
                        <a th:href="@{salonesReunion/{id}/delete(id=${salonReunion.id})}"
                            onclick="return confirm('¿Estás seguro de borrar este salon de reunion?')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{salonesReunion/new}' class="btn btn-primary">Añadir salon de reunion</a>
            <!-- <a th:href='@{sirven/new}' class="btn btn-primary">Añadir Bebida a Bar</a> -->
            <a th:href='@{/hotel/administrador/servicios}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />

    </div>
</body>

</html>